/* ------------------------ */

.projects {

    --tmng: var(--timing);
    
    --shd: var(--shd-lengths-prjct) var(--shd_clr-drk-tr60);

    --clr_acc: var(--clr-acc1);
    --clr_acc-tr: var(--clr-acc1-tr);
    
    --dtls_shrinked-clr: var(--clr);
    --dtls-bgclr: var(--clr-drk1-tr90);

    --ttl-clr: var(--clr-brt0);

    --lnk-clr: var(--clr-brt0);
    --lnk-bgclr: var(--clr-brt0-tr20);
    
    --lnk-brdrclr: var(--clr-drk1-tr90);
    --lnk-shd-hvr: var(--shd-lengths-prjct) var(--shd_clr-drk-tr80);

    --nfo-clr: var(--clr-brt1);
    --nfo-fntsz: var(--fntsz-xxs);
}

/* ------------------------ */

.card-pr, 
.card-pr * {
    padding: 0;
    margin: 0;
}

/* ------------------------ */

.card-pr {

    position: relative;

    width: min(500px,85vw);
    height: min(400px,68vw);

    margin-inline: 2rem;
    margin-top: 4rem;
}

/* ------------------------ */

.pr-details-container {

    position: absolute;

    bottom: 5%;
    left: 10%;

    width: 80%;
    height: 60%; 

    border-radius: 1rem;
    background-color: var(--dtls-bgclr);
    
    box-shadow: var(--shd);

    z-index: 9;
}

/* ------------------------ */

.pr-title {

    position: absolute;
    left: 5%;
    top: 5%;
    
    color: var(--ttl-clr);
    
    font-size: large;
    font-weight: 700;
}

/* ------------------------ */

.pr-info {
    position: absolute;
    
    top: calc(6% + 1.5rem);
    left: 5%;

    width: 90%;    
    height: calc(90% - 2rem);
    
    color: var(--nfo-clr);
    font-size: var(--nfo-fntsz);
    font-weight: 400;
}

.pr-info-line {
    margin-block: 0.5rem;    
}

.pr-info-line a {
    color: var(--ttl-clr); 
}

/* ------------------------ */

.pr-lnk {
    
    position: absolute;

    width:fit-content;
    bottom: -5%;
    left: 95%;

    padding: 5px;
    padding-bottom: 0;

    border-radius: 50%;    

    background-color: var(--clr_acc);
    color: var(--lnk-clr);
    border-bottom: 2px solid var(--lnk-brdrclr);
    box-shadow: var(--shd);
    
    transition: 1s var(--tmng), color 1.5s;
    animation: pulse-eff 1s infinite linear;
}

/* ------------------------ */

.pr-img-container {
    position: relative;
    width: 80%;
}

/* - - - - - - - */

.pr-img {
    position: absolute;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: var(--shd);
}


/* ############################################### */
/* ############################################### */
/* ############################################### */
/* ##  devices that a mouse is their primary pointing device ( >> can hover ) */
@media (pointer: fine) {

    .pr-details-container {
        top: 2rem;
        left: 0;
        width: 80%;
        height: 0.2em;
        box-shadow: none;
        transition: 1.2s var(--tmng), color 1s;
        background-color: var(--clr_acc);

    }
    
    .pr-title {
        top: -1.7rem;
        left: 3rem;
        font-weight: 900;
        transition: 1s var(--tmng);
        color: var(--dtls_shrinked-clr);
    }
    
    .pr-info {
        visibility: hidden;
    }

    .pr-lnk {
        left: 0;
        bottom: -0.25rem;
        background-color: transparent;
        color: var(--clr_acc-tr);
        border: none;
        box-shadow: none;
        animation: none;
    }

    .pr-img-container {
        left: 50%;
        transform: translateX(-45%) translateY(1.5em) rotateY(10deg) rotateX(15deg);
        width: 100%;
        height: 100%;
        grid-area: 1 / 1;
        display: grid;
        perspective: 40em;
        box-sizing: content-box;
        transition: 1s var(--tmng);
    }
        
    .pr-img {
        transform: translateX(2em) translateY(1.4em) rotateY(20deg) rotateX(15deg);
        width: 86%;
        opacity: 1;
        transition: 0.8s var(--tmng);
    }

    /*---------------------------*/
    /*---------------------------*/
    
    .card-pr:hover .pr-details-container {
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
        height: 50%;
        box-shadow: var(--shd);
        background-color: var(--dtls-bgclr);
    }

    .card-pr:hover .pr-title {
        left: 5%;
        top: 5%;
        color: var(--ttl-clr);
    }
    
    .card-pr:hover .pr-info {
        visibility: visible;
        top: calc(10% + 1.5rem);
        left: 5%;
        width: 90%;
    }

    .card-pr:hover .pr-lnk {
        width:fit-content;
        bottom: -5%;
        left: 95%;
        background-color: var(--lnk-bgclr);
        color: var(--lnk-clr);
        border-bottom: 2px solid var(--lnk-brdrclr);
        box-shadow: var(--shd);
        animation: pulse-eff 1s infinite linear;
    }
    
    .card-pr:hover .pr-lnk:hover {
        background-color: var(--clr_acc);
        cursor: pointer;
        box-shadow: var(--lnk-shd-hvr);
    }

    .card-pr:hover .pr-img-container {
        left: 0;
        right: 0;
        transform: rotateY(0deg) rotateX(0deg);
    }

    .card-pr:hover .pr-img {
        transform: rotateY(0deg) rotateX(0deg);
        width: 100%;
        opacity: 0.7;
    }
}
