.education {

    /* --bg:var(--clr-brt1-tr); */
    --bgclr: var(--edu-bgclr);
    /* --bg: rgba(237, 237, 237, 0.66); */
    --bg: linear-gradient(var(--bgclr), rgba(237, 237, 237, 0.33));
    --ofst: 0.15rem;
    --brdr-rds: 0.45rem;
    --dstnc: 2rem;

    --shd: var(--shd-lengths-touch) var(--shd-clr4);
    --shd-hvr: var(--shd-lengths-cntr1) var(--shd-clr2);
    /* --shd-img: inset 0 0 1rem 0rem var(--profile-img-shd_clr), 0 0 1rem 0.33rem var(--profile-img-shd_clr); */
    --clr1: var(--main-clr);
    --clr2: var(--main-clr-tr);
    --clr-acc: var(--clr-acc1);
    --clr-acc-tr: var(--clr-acc1-tr);
    /* --bgclr-icn: var(--clr-brt1); */
    --trnstn: var(--transition);
    /* - - - */
    --fnt-xl: var(--fntsz-xl); 
    --fnt-lg: var(--fntsz-lg); 
    --fnt-md: var(--fntsz-md); 
    --fnt-sm: var(--fntsz-sm);
    --fnt-xs: var(--fntsz-xs);
    /* - - - */
    --cntnt-wdth: calc (var(--section-content-width) - 2*var(--section-content-padding));
    /* - - - */

    width: var(--section-content-width);
    padding: var(--section-content-padding);
    
    /* - - - */

    --img-sz: 4rem;
    --lbl-sz: calc(var(--img-sz) + 2 * var(--ofst));

    
    /* - - - */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.edu-tabs {
    display: flex;
    justify-content: space-evenly;
}


.edu-panels, .panel {
    
    /* width: 100%; */

    padding: var(--dstnc);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--dstnc);
    flex-wrap: wrap;
    
    font-weight: 500;
}
.edu-panels {
    background: var(--bg);
    border: var(--ofst) solid var(--clr-acc);
    border-radius: var(--brdr-rds);
    width: 100%;
}
.panel {
    /* position: absolute; */
    /* transform: translateY(var(--lbl-sz)); */
    width: var(--cntnt-wdth);
    display: none;

}



/* * * * * * * * */
/* * * * * * * * */
/* * * * * * * * */
.education input {
    display: none;
}

.tab {
    position: relative;
    /* width: calc(var(--img-sz) + 2 * var(--ofst));
    height: calc(var(--img-sz) + 2 * var(--ofst)); */
    width: var(--lbl-sz);
    height: var(--lbl-sz);
    padding: 0.5rem;
    border-radius: var(--brdr-rds);
    transition: var(--trnstn);
}

.tab-img {
    width: 100%;
    box-shadow: var(--shd);
}




#rd1:not(:checked) ~ .edu-tabs #tab1,
#rd2:not(:checked) ~ .edu-tabs #tab2,
#rd3:not(:checked) ~ .edu-tabs #tab3 {
    transform: scale(0.8) translateY(calc(-3 * var(--ofst)));
}

#rd1:checked ~ .edu-tabs #tab1,
#rd2:checked ~ .edu-tabs #tab2,
#rd3:checked ~ .edu-tabs #tab3 {
    top: calc(1.5 * var(--ofst));
    background-color: var(--bgclr);
    border: var(--ofst) solid var(--clr-acc);
    border-bottom: var(--ofst) solid var(--bgclr);
}

#rd1:checked ~ .edu-panels #panel1,
#rd2:checked ~ .edu-panels #panel2,
#rd3:checked ~ .edu-panels #panel3 {
    display: flex;
}
/* * * * * * * * */
/* * * * * * * * */

.panel-grp1,
.panel-grp2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(0.5 * var(--dstnc));
    text-align: center;
}
.education:is(.en) .panel-grp1 {
    padding-right: var(--dstnc);
    border-right: var(--ofst) double var(--clr-acc);
}
.education:not(.en) .panel-grp1 {
    padding-left: var(--dstnc);
    border-left: var(--ofst) double var(--clr-acc);
}

.grp1-year {
    color: var(--clr2);
    font-size: var(--fnt-sm);
}
.grp1-name {
    color: var(--clr-acc);
    font-weight: 600;
    font-size: var(--fnt-md);
}
.grp2-info1 {
    font-size: var(--fnt-sm);
}
.grp2-info2 {
    color: var(--clr2);
    font-size: var(--fnt-xs);
}


/* ############################################### */
/* ############################################### */
/* ############################################### */
/* ##  devices that a mouse is their primary pointing device ( >> can hover ) */
@media (pointer: fine) {

    #rd1:not(:checked) ~ .edu-tabs #tab1:hover,
    #rd2:not(:checked) ~ .edu-tabs #tab2:hover,
    #rd3:not(:checked) ~ .edu-tabs #tab3:hover {
        /* transform: scale(0.8) translateY(calc(-3 * var(--ofst))); */
        /* transform: scale(0.5) translateY(calc(-3 * var(--ofst))); */
        cursor: pointer;
        transform: scale(0.9);
        box-shadow: 0rem -0.3rem 0.9rem var(--clr-acc-tr);
    }
  
}


/* ############################################### */
/* ############################################### */
/* ############################################### */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition-delay: 0ms !important;
    }
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  */
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$  */