.share {

    --share-h: var(--header-item-height);
    --ofst: var(--header-item-offset);
    --brdr-rds: var(--header-item-border_radius);
    --shd: var(--shd-lengths-touch) var(2--shd-clr4);
    --shd-hvr: var(--shd-lengths-cntr3) var(--shd-clr4);
    --bgclr: var(--header-item-bgclr);
    --cvr-clr-acc: var(--header-menu-acc_clr);
    --cvr-clr: var(--share-cvr-clr);
    --cvr-bgclr: var(--share-cvr-bgclr);
    --trnstn: var(--transition);
    /* - - - */
    --icn-sz: calc(var(--share-h) - var(--ofst));
    --cvr-icn-sz: calc(var(--share-h) - 3*var(--ofst));
    --share-w: calc(var(--cvr-icn-sz) + 3 * var(--icn-sz) + 12* var(--ofst));
    /* - - - */
    --x-factor: 1;
    /* -- */
    --cvr-icn-mrgn: calc( 2* var(--ofst));
    --cvr-txt-fix: 0;
    --cvr-txt-ch_length: 6ch;
    /* - - - */

    position: relative;
    height: var(--share-h);
    width: var(--share-w);
    border-radius: var(--brdr-rds);
    overflow: hidden; 

    box-shadow: var(--shd);
    
    transition: var(--trnstn);
}
.share:is(.he),
.share:is(.ar) {
    --x-factor: -1;
}
.share:is(.he) {
    --cvr-txt-fix: 1;
    --cvr-txt-ch_length: 7ch;
}
.share:is(.ar) {
    --cvr-txt-ch_length: 8ch;
}
.share:hover {
    box-shadow: var(--shd-hvr);
}

/* # ## ### ## # */
/* # ## ### ## # */
/* # ## ### ## # */

.share-cover {
    
    position: absolute;
    z-index: 10;
    
    width: 100%;
    height: 100%;

    background-color: var(--cvr-bgclr);
    color: var(--cvr-clr);
    border-radius: var(--brdr-rds);

    cursor: pointer;

    /* -- */
    --cvr-icn-top: calc( 0.5 * (var(--share-h) - var(--cvr-icn-sz)) );
    --cvr-icn-lft: calc( 0.5 * ( var(--share-w) - var(--cvr-icn-sz) - 2 * var(--ofst) - var(--x-factor) * var(--cvr-txt-ch_length) ) );
    --cvr-icn-trnslt-x: calc(var(--share-w) - var(--cvr-icn-lft) - var(--cvr-icn-sz) - var(--cvr-icn-mrgn));
    /* -- */
    --cvr-txt-top: calc( 0.5 * (var(--share-h) - var(--cvr-icn-sz)) - var(--cvr-txt-fix) *  0.1rem );
    --cvr-txt-lft: calc( var(--cvr-icn-lft) + (var(--x-factor) + 1) * (var(--cvr-icn-sz) / 2) + var(--x-factor) * (2 * var(--ofst)) + (var(--x-factor) - 1) * 3ch  + var(--cvr-txt-fix) *  1ch);
    --cvr-txt-trnslt-x: calc(-1 * var(--x-factor) * 1rem);
    /* -- */
    --cvr-trnslt-x: calc( var(--x-factor) * ( var(--cvr-icn-sz) + 2* var(--cvr-icn-mrgn) - var(--share-w) ) );
    /* -- */

    --cvr-delay: .4s;
    /* -- */
    
    transition: var(--trnstn), border-radius .6s ease-in-out ;
    transition-delay: var(--cvr-delay);
}
.share:is(.he) .share-cover,
.share:is(.ar) .share-cover {
    --cvr-icn-trnslt-x: calc(var(--cvr-icn-mrgn) - var(--cvr-icn-lft));
}

/* # ## ### ## # */

.share-cover__icn {
    color: var(--cvr-clr-acc);
    width: var(--cvr-icn-sz);
    height: var(--cvr-icn-sz);
    
    position: absolute;
    left: var(--cvr-icn-lft);
    top: var(--cvr-icn-top);

    transform: scaleX(var(--x-factor));
    transition: var(--trnstn);
    transition-delay: calc( var(--cvr-delay) + 0.1s);
}

/* # ## ### ## # */

.share-cover__txt {
    position: absolute;
    left: var(--cvr-txt-lft);
    top: var(--cvr-txt-top);
    
    transition: var(--trnstn);
}
.share:is(.ar) .share-cover__txt {
    font-size: 0.875rem;
}

/* # ## ### ## # */

.share-cover:is(.opened){
    transform: translateX(var(--cvr-trnslt-x));
    border-radius: 0;
    transition-delay: 0s;
}

.share-cover:is(.opened) .share-cover__icn {
    color: var(--cvr-clr);
    transform: translateX(var(--cvr-icn-trnslt-x)) scaleX(var(--x-factor));
}

.share-cover:is(.opened) .share-cover__txt {
    transform: translateX(var(--cvr-txt-trnslt-x));
}

/* # ## ### ## # */
/* # ## ### ## # */
/* # ## ### ## # */

.share-content {
    
    width: 100%;
    height: 100%;
    padding-left: calc( var(--cvr-icn-sz) + 2 * var(--cvr-icn-mrgn));

    background-color: var(--bgclr);

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    --delay-whatsapp: .4s;
    --delay-linkedin: .2s;
    --delay-email: 0s;
}
.share:is(.he) .share-content,
.share:is(.ar) .share-content {
    padding-right: calc( var(--cvr-icn-sz) + 2 * var(--cvr-icn-mrgn));
    padding-left: 0;
}
.share:has(.share-cover:is(.opened)) .share-item__icn {
    --delay-whatsapp: .2s;
    --delay-linkedin: .4s;
    --delay-email: .6s;
}

.share-item {    
    position: relative;

    height: 100%;
    width: var(--icn-sz);
}

.share-item__btn {
    width: 100%;
    height: 100%;
}

.share-item__icn {
    width: 100%;
    height: 100%;

    transition: var(--trnstn);

    transform: translateX(calc(var(--x-factor) * 0.75 * var(--share-w)));
}

.share:has(.share-cover:is(.opened)) .share-item__icn {
    transform: translateX(0);
}

.share-item__icn:is(.whatsapp) {
    transition-delay: var(--delay-whatsapp);
}
.share-item__icn:is(.linkedin) {
    transition-delay: var(--delay-linkedin);
}
.share-item__icn:is(.email) {
    transition-delay: var(--delay-email);
}