.share {

    --share-h: var(--header-item-height);
    --ofst: var(--header-item-offset);
    --brdr-rds: var(--header-item-border_radius);
    --shd: var(--shd-lengths-touch) var(--shd-clr2);
    --shd-hvr: var(--shd-lengths-cntr2) var(--shd-clr2);
    --bgclr: var(--header-item-bgclr);
    /* --clr: var(--header-item-clr); */
    --cvr-clr-acc: var(--header-menu-acc_clr);
    --cvr-clr: var(--share-cvr-clr);
    --cvr-bgclr: var(--share-cvr-bgclr);
    --trnstn: var(--transition);
    /* - - - */
    --icn-sz: calc(var(--share-h) - var(--ofst));
    --cvr-icn-sz: calc(var(--share-h) - 3*var(--ofst));
    --share-w: calc(var(--cvr-icn-sz) + 3 * var(--icn-sz) + 12* var(--ofst));
    /* - - - */
    --x-factor: 1;
    /* - - - */

    position: relative;
    height: var(--share-h);
    width: var(--share-w);
    /* overflow: hidden; */

    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(2* var(--ofst));

    background-color: var(--bgclr);
    border-radius: var(--brdr-rds);
    box-shadow: var(--shd);
    
    transition: var(--trnstn);
}
.share:is(.he),
.share:is(.ar) {
    --x-factor: -1;
}
.share:hover {
    box-shadow: var(--shd-hvr);
}

/* # ## ### ## # */
/* # ## ### ## # */
/* # ## ### ## # */

.share-cover {
    
    position: absolute;
    z-index: 10;
    
    width: 100%;
    height: 100%;

    background-color: var(--cvr-bgclr);
    color: var(--cvr-clr);
    border-radius: var(--brdr-rds);

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(2* var(--ofst));

    /* -- */
    --icn-lft: calc( 2* var(--ofst)); 
    --icn-trnslt-x: calc( var(--x-factor) * ( var(--share-w) - var(--cvr-icn-sz) - 4* var(--ofst) ) );
    --cvr-trnslt-x: calc( var(--x-factor) * ( var(--cvr-icn-sz) + 4* var(--ofst) - var(--share-w) ) );

    --cvr-delay: .4s;
    /* -- */
    
    transition: var(--trnstn), border-radius .6s ease-in-out ;
    transition-delay: var(--cvr-delay);
}
.share:is(.he) .share-cover,
.share:is(.ar) .share-cover {
    --icn-lft: calc(var(--share-w) - var(--cvr-icn-sz) - 2* var(--ofst));
}

/* # ## ### ## # */

.share-cover__icn {
    color: var(--cvr-clr-acc);
    width: var(--cvr-icn-sz);
    height: var(--cvr-icn-sz);
    
    /* position: relative; */
    /* position: absolute;  */
    /* left: calc(-3 * var(--x-factor) * var(--icn-lft)); */
    /* transform: translateX(0) scaleX(var(--x-factor)); */
    transform: scaleX(var(--x-factor));
    transition: var(--trnstn);
    transition-delay: calc( var(--cvr-delay) + 0.1s);
}

/* # ## ### ## # */

.share-cover__txt {
    transition: var(--trnstn);
    position:relative;
}
.share:is(.ar) .share-cover__txt {
    font-size: 0.875rem;
}

/* # ## ### ## # */

.share-cover:is(.opened){
    /* transform: translateX(var(--cvr-trnslt-x)); */
    border-radius: 0;
    transition-delay: 0s;
}

.share-cover:is(.opened) .share-cover__icn {
    color: var(--cvr-clr);
    position: absolute;
    /* left: var(--icn-lft);
    transform: translateX(var(--icn-trnslt-x)) scaleX(var(--x-factor)); */
    float:left;
}

.share-cover:is(.opened) .share-cover__txt {
    position: absolute;
    transform: translateX( calc( -1 * var(--x-factor) * 2 * var(--ofst) ) );
}

/* # ## ### ## # */
/* # ## ### ## # */
/* # ## ### ## # */

.share-content {
    
    width: 100%;
    height: 100%;
    padding-left: calc( var(--cvr-icn-sz) + 4* var(--ofst));

    background-color: var(--bgclr);

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    --delay-whatsapp: .4s;
    --delay-linkedin: .2s;
    --delay-email: 0s;
}
.share:is(.he) .share-content,
.share:is(.ar) .share-content {
    padding-right: calc( var(--cvr-icn-sz) + 4* var(--ofst));
    padding-left: 0;
}
.share:has(.share-cover:is(.opened)) .share-item__icn {
    --delay-whatsapp: .2s;
    --delay-linkedin: .4s;
    --delay-email: .6s;
}

.share-item {    
    position: relative;

    height: 100%;
    width: var(--icn-sz);
}

.share-item__btn {
    width: 100%;
    height: 100%;
}

.share-item__icn {
    
    /* position: absolute;
    left:0;
    top:0; */
    
    width: 100%;
    height: 100%;

    

    transition: var(--trnstn);

    transform: translateX(calc(var(--x-factor) * var(--share-w)));
    /* transform: translateX(1rem); */
}

.share:has(.share-cover:is(.opened)) .share-item__icn {
    /* transform: translateX(calc(-0.5 * var(--x-factor) * var(--share-w))); */
    /* position: absolute;
    
    left:0;
    top:0; */
    transform: translateX(0);

    /* transform: translateX(calc(var(--x-factor) * var(--share-w))); */
}

.share-item__icn:is(.whatsapp) {
    transition-delay: var(--delay-whatsapp);
}
.share-item__icn:is(.linkedin) {
    transition-delay: var(--delay-linkedin);
}
.share-item__icn:is(.email) {
    transition-delay: var(--delay-email);
}

.share-btn {
    
}

.share-icn {
    
}
/*
.share-cover {
    cursor: pointer;

    font-size: small;
    letter-spacing: 0.05em;
    gap: 8px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--share_icon-bgclr);
    color: var(--share_icon-clr);
    /* text-align: center; //
    /* line-height: 80px; //
    z-index: 999;
    transition: .6s linear;
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.share-social {
        
    flex: 1;
    /* font-size: 26px; //
    /* color: #2d3436; //
    /* text-align: center; //
    transform: translateX(-100%);
    opacity: 0;
    transition: 0.3s linear;
    /* margin-top: 0.3em; //
    /* margin-bottom: 0.3em; //
    /* justify-self: center; //
    margin-inline: 0.3em;

    /* display: grid;
    place-items: center; //

}

.share:has(.share-social:hover) .share-social:not(:hover) {
    opacity: 0.7;
}

.share-whatsapp {
    transition-delay: 0.8s;
}

.share-linkedin {
    transition-delay: 0.6s;
}

.share-email {
    transition-delay: 0.4s;
}

.share-social-icon {
    transition: 0.4s;

    width: calc(var(--header-item-height) - 2*var(--header-item-offset));
    height: calc(var(--header-item-height) - 2*var(--header-item-offset));
    display: grid;
    /* place-items: center; //
    place-content: center;
    /* border-radius: 50% ;
    overflow: hidden; //
}
.icn-in {
    width: calc(var(--header-item-height) - 2*var(--header-item-offset));
    height: calc(var(--header-item-height) - 2*var(--header-item-offset));
}
*/

/* * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * */

/* @media (hover: hover){

    .share:hover {
        transform: scale(1.05);
        /* cursor:none; 
    
        box-shadow: var(--shd);
    }

    .share:hover .share-icon {
        /* transform: scale(0.9); 
    
        transform: translateX(-101%);
        transition-delay: .3s;
    }

    .share:hover .share-social {
        opacity: 1;
        transform: translateX(0);
    }

    .share-social-icon:hover {
        opacity: 0.9;
        transform: scale(1.1);
    }
} */

/* * * * * * * * * * * * * * */

/* @media (hover: none){

    .share:focus {
        transform: scale(1.05);
        /* cursor:none; 
    
        box-shadow: var(--shd);
    }

    .share:hover .share-icon {
        /* transform: scale(0.9); 
    
        transform: translateX(-101%);
        transition-delay: .3s;
    }

    .share:hover .share-social {
        opacity: 1;
        transform: translateX(0);
    }

    .share-social-icon:hover {
        opacity: 0.9;
        transform: scale(1.1);
    }

} */

/* * * * * * * * * * * * * * */

/* .share:hover, */
/* .share:active {
    transform: scale(1.1);
    //////cursor:none;

    box-shadow: var(--shd);
} */

/* .share:hover .share-icon, */
/* .share:active .share-icon {
     /////transform: scale(0.9); 
    transform: translateX(-101%);
    transition-delay: .3s;
} */

/* .share:hover .share-social, */
/* .share:active .share-social {
    opacity: 1;
    transform: translateX(0);
} */

/* .share-social-icon:hover, */
/* .share-social-icon:active {
    opacity: 0.9;
    transform: scale(1.1);
} */