.profile {

    --shd: var(--shd-lengths-touch) var(--shd_clr-lt);
    --shd-img: inset 0 0 10rem 0rem var(--shd_clr-lt), 0 0 1rem 0.11rem var(--shd_clr-lt);
    --img-brdr_clr: var(--clr);
    --img-brdr_rds: 50%;
    --icn-rtt: 5deg;
    --a_span-clr: var(--clr);
    --clr-acc: var(--clr-acc1);
    --pdng: var(--section-content-padding);
    --trnstn: var(--transition);
    /* - - - */
    width: var(--section-content-width);
    padding: var(--pdng);
    /* - - - */
    --img-sz: 11rem;
    --icn-sz: 2.5rem;
    /* - - - */
    --fnt-xl: var(--fntsz-xl); 
    --fnt-lg: var(--fntsz-lg); 
    --fnt-md: var(--fntsz-md); 
    --fnt-sm: var(--fntsz-sm); 
    --fnt-xs: var(--fntsz-xs); 
    /* - - - */

    display: flex;
    flex-direction: column;
}

/* ***************** */
/* ***************** */

.profile-header {
    
    width: 100%;

    display: flex;
    align-items: center;
}

/* ***************** */

.profile-header__txt {

    width:64%;
    
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
}

.profile-header__name {
    font-size: var(--fnt-xl);
    font-weight: 600;
}
.profile:not(.en) .profile-header__name {
    font-weight: 700;
    line-height: 2.5rem;
}

.profile-header__motto {
    font-size: var(--fnt-lg);
    font-weight: 500;
    flex-wrap: wrap;
    line-height: 2.2rem;
}

.profile:is(.he) .profile-header__motto {
    /* 12ch /16ch / 22ch / 27ch / 42ch / 47ch */
    line-height: 2.5rem;
}
.profile:is(.ar) .profile-header__motto {
    /* 14ch / 18ch / 26ch / 48ch */
    line-height: 2.5rem;
}

/* ***************** */

.profile-header__img-wrp {
    
    --img-pd: 0.75rem;
    /* - - -  */
    display: grid;
    place-items: center;

    width: var(--img-sz);
    height: var(--img-sz);
    padding: var(--img-pd);
    margin-inline: 3rem;
    
    border-radius: var(--img-brdr_rds); 
}
.profile:is(.en) .profile-header__img-wrp {
    border-left: 0.33rem solid var(--img-brdr_clr);
}
.profile:not(.en) .profile-header__img-wrp {
    border-right: 0.33rem solid var(--img-brdr_clr);
}
.profile-header__img-wrp::after {
    content: "";
    position: absolute;
    width: calc(var(--img-sz) - 2 * var(--img-pd));
    height: calc(var(--img-sz) - 2 * var(--img-pd));
    
    border-radius: var(--img-brdr_rds);
    transition: var(--trnstn);
    transition-delay: 0.05s;
}

.profile-header__img-wrp > img {
    border-radius: var(--img-brdr_rds);
    transition: var(--trnstn);
    width: 100%;
    height:100%;
}

/* ***************** */

.profile-contact {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
    flex-wrap: wrap;
    row-gap: 1rem;
    margin-top: 1.5rem;

    padding-block: 1.5rem;

    border: solid var(--clr-acc);
    border-width: 0.1rem 0 0.1rem 0;
}

.profile-contact > a {
    text-decoration: none;    
    display: flex;
    align-items: center;
    gap:0.5rem;
    width: clamp(23ch, 20ch + 6vw, 27ch);
}
.profile-contact > a > span {
    
    font-size: var(--fnt-xs);
    
    
    position: relative;
    color: var(--a_span-clr);
    transition: var(--trnstn);
}

.profile-contact > a > .contact-icn {
    width: var(--icn-sz);
    height: var(--icn-sz);
    transition: var(--trnstn);
    border-radius: 50%;   
    box-shadow: var(--shd); 
    color: white;
    border: 0.15rem solid white;
}
.profile-contact > a > .contact-icn:is(.phone) {
    background-color: #313335;
    padding: 0.35rem;
}
.profile-contact > a > .contact-icn:is(.email) {
    background-color: #EA4335;
    padding: 0.4rem;
}
.profile-contact > a > .contact-icn:is(.linkedin) {
    background-color: #0077B5;
    padding: 0.45rem;
    padding-right: 0.55rem;
}
.profile-contact > a > .contact-icn:is(.github) {
    color: #333;
    background-color: white;
    padding: 0.1rem;
    border: none;
}

/* ***************** */

.profile-skills {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top:1.5rem;

    font-weight: 500;

    padding: 1.5rem;
}

.profile-skills p {

    display: flex;
    gap: 1rem;

    font-size: var(--fnt-md);
    font-weight: 500;
}

.skills-icn {
    color: var(--clr-acc);
    min-width: var(--fnt-xs);
    min-height: var(--fnt-xs);
    max-width: var(--fnt-xs);
    max-height: var(--fnt-xs);
}


/* ############################################### */
/* ############################################### */
/* ############################################### */
/* @@ phone */
@media (max-width: 599px) {
    
    .profile {
        --img-sz: 8rem;
        --icn-sz: 2rem;
    }

    .profile-contact {
        width: 90%;
    }

    .profile-contact > a {
        width: 20ch;
        min-width: 20ch;
    }
}

/* ############################################### */
/* ############################################### */
/* ############################################### */
/* @@ tablet */
@media (min-width: 600px) and (max-width: 1199px) {
    .profile-contact {
        width: clamp(48ch,48ch + 5vw ,75%);
    }
    .profile-contact > a {
        width: clamp(11ch, 17ch + 7vw, 27ch);
    }
}

/* ############################################### */
/* ############################################### */
/* ############################################### */
/* @@ small */
@media (max-width: 900px) {
    
    .profile {
        --img-sz: 10rem;
        --icn-sz: 2.25rem;
    }
    
    .profile-header {
        flex-direction: column-reverse;
    }
    
    .profile-header__txt {
        width:100%;
        gap: 1rem;

    }
    
    .profile:not(.en) .profile-header__txt {
        gap:0.7rem;
    }

    .profile:is(.en) .profile-header__motto {
        line-height: 1.5rem;
    }
    
    .profile:not(.en) .profile-header__motto {
        line-height: 1.7rem;
    }

    .profile-header__img-wrp {
        border-bottom: 0.33rem solid var(--img-brdr_clr);
    }

    .profile-contact {
        width: 90%;
    }
}

/* ############################################### */
/* ############################################### */
/* ############################################### */
/* ##  devices that a mouse is their primary pointing device ( >> can hover ) */
@media (pointer: fine) {
    
    .profile-header__img-wrp:hover > img {
        transform: scale(1.025);
    }

    .profile-header__img-wrp:hover::after {
        box-shadow: var(--shd-img);
    }

    .profile:is(.en) .profile-contact > a:hover > .contact-icn {
        transform:  scale(0.9) rotate(calc(-1 * var(--icn-rtt)));
    }
    .profile:not(.en) .profile-contact > a:hover > .contact-icn {
        transform: scale(0.9) rotate(var(--icn-rtt));
    }
    .profile-contact > a:hover > span  {
        transform: scale(1.05);
    
    }
}
