
.brt {
    --clr-over: var(--shd_clr-drk-tr70);
    --clr-back: var(--clr-brt0);
    --clr-front: var(--clr-drk0);
}
.drk {
    --clr-over: var(--shd_clr-brt-tr70);
    --clr-back: var(--clr-drk0);
    --clr-front: var(--clr-brt0);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clr-over);
    z-index: 1000;
}

.modal {
    --red: var(--clr-red-brt);
    --tmng: var(--timing);
    --shd-hvr: var(--shd-lengths-cntr2) var(--clr-over);
    /* * * */
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 0.7rem;;
    transform: translate(-50%, -50%);
    background-color: var(--clr-back);
    color: var(--clr-front);
    padding: 4rem;
    z-index: 1000;
}

.modal__line {
    margin-bottom: 0.5rem;
}

.modal button {
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);

    overflow: hidden;

    padding: 0.5rem;

    border-color: transparent;
    border-radius: 50%;

    background-color: var(--clr-back);

    transition: 1s var(--tmng), color .75s ease-in-out;

    display: grid;
    place-items: center;

}

#modal__icn {
    color: var(--red);
    transition: 1s var(--tmng), color .75s ease-in-out;
    animation: pulse-eff 1s infinite linear;
}

/* ############################################### */
/* ############################################### */
/* ############################################### */
/* ##  devices that a mouse is their primary pointing device ( >> can hover ) */
@media (pointer: fine) {
    
    #modal__icn:hover {
        transform: scale(1.33);
        color:  var(--clr-back);
        animation: none;
        cursor: pointer;
    }
    
    .modal button:has(#modal__icn:hover) {
        background-color: var(--red);
        box-shadow: var(--shd-hvr);
    }
}