.theme {
    
    --theme-h: var(--header-item-height);
    --theme-w: var(--header-item-width);
    --ofst: var(--header-item-offset);
    --brdr-rds: var(--header-item-border_radius);
    --shd: var(--shd-lengths-touch) var(--shd-clr2);
    --shd-hvr: var(--shd-lengths-cntr2) var(--shd-clr2);
    --bgclr: var(--header-item-bgclr);
    --trnstn: var(--transition);
    /* - - - */
    --icn-sz: calc(var(--theme-h) - 2 * var(--ofst) );
    /* - - - */
    
    position: relative;
    width: var(--theme-w);
    height: var(--theme-h);
}

.theme__inp {
    opacity: 0;
    width: 0;
    height: 0;
}

.theme__sld {
    
    position: absolute;
    inset: 0 0 0 0;
        
    width: 100%;
    height: 100%;

    background-color: var(--bgclr);

    border-radius: var(--brdr-rds);
    
    box-shadow: var(--shd);

    cursor: pointer;

    transition: var(--trnstn);
}
.theme__sld:hover {
    box-shadow: var(--shd-hvr);
}

.theme__sld:before {

    content: "";
    
    position: absolute;
    left: var(--ofst);
    top: var(--ofst);
    
    height: var(--icn-sz);
    width: var(--icn-sz);
    border-radius: 50%;

    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    
    transition: .4s ease;    
}

.theme__inp:checked + .theme__sld:before {
    left: calc( var(--theme-w) - var(--icn-sz) - 1.125*var(--ofst));
    background: var(--bgclr);
    box-shadow: inset -0.1875rem -0.125rem 0.3125rem -0.125rem #8983f7, inset -0.625rem -0.25rem 0 0 #a3dafb;
    /* box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb; */
}