.lang {
    
    --lang-h: var(--header-item-height);
    --lang-w: var(--header-item-width);
    --ofst: var(--header-item-offset);
    --brdr-rds: var(--header-item-border_radius);
    --shd: var(--shd-lengths-touch) var(--shd-clr2);
    --shd-hvr: var(--shd-lengths-cntr2) var(--shd-clr2);
    --bgclr: var(--header-item-bgclr);
    --clr: var(--header-item-clr);
    --clr-acc: var(--header-menu-acc_clr);
    --clr-itm-hvr: var(--header-menu-hvr_clr);
    --trnstn: var(--transition);
    /* - - - */
    --icn-sz: calc(var(--lang-h) - 2*var(--ofst) );
    --gap: 0rem;
    --padding: 0.5rem;
    /* - - - */
    
    position: relative;
    height: var(--lang-h);
    width: var(--lang-w);
}

/* ************ */
/* ************ */

.lang-trigger {
    
    width: 100%;
    height: 100%;
    overflow: hidden;

    background-color: var(--bgclr);
    color: var(--clr);
    
    cursor: pointer;
    border-radius: var(--brdr-rds);
    box-shadow: var(--shd);

    transition: all var(--trnstn);
}
.lang-trigger:hover {
    box-shadow: var(--shd-hvr);
}

.lang-trigger__icn1 {
    
    width: var(--icn-sz);
    height: var(--icn-sz);
    
    position: absolute;
    top:var(--ofst);
    left:var(--ofst);
}

.lang-trigger__icn2 {

    width: var(--icn-sz);
    height: 100%;
    
    position: absolute;
    right: var(--ofst);
    
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
.lang-trigger__icn2::after {
    
    width: var(--icn-sz);
    height: 100%;
    
    position: absolute;
    bottom: var(--ofst);
    
    display:flex;
    justify-content: center;
    align-items: center;

    color: var(--clr-acc);
}
.lang-trigger__icn2:is(.en)::after {
    content: 'En';
}
.lang-trigger__icn2:is(.he)::after {
    content: 'ע';
}
.lang-trigger__icn2:is(.ar)::after {
    content: 'ع';
    margin-bottom: calc(0.5*var(--ofst));
}

/* ************ */
/* ************ */

.lang-content {

    opacity: 0;
    visibility: hidden;

    --hdn-top: calc(2 * var(--ofst));
    --hdn-right: var(--ofst);
    --cntnt-w:calc(7ch + 2*var(--padding));
    --cntnt-h: calc(2*var(--lang-h) + var(--gap) + 2*var(--padding));
    
    position: absolute;
    top: var(--hdn-top);
    right: var(--hdn-right);
    transform: scale(.2) rotate3d(-1.5, 0.5, 0.5, 55deg);
    transform-origin: top right;

    height: var(--cntnt-h);
    width: var(--cntnt-w);
    
    color: var(--clr);
    background-color: var(--clr-acc);
    
    display: flex;
    flex-direction: column;
    text-align: center;

    gap: var(--gap);
    padding: var(--padding);

    border-radius: var(--ofst);
    box-shadow: var(--shd);

    transition: all var(--trnstn), background-color .3s ease-in-out;
}
.lang-content:is(.show) {
    
    opacity: 1;
    visibility: visible;

    --mv-right: calc(var(--hdn-right) - 0.5*var(--lang-w) + 0.5*var(--cntnt-w));
    --mv-top: calc(-1* var(--hdn-top) + var(--lang-h) + var(--ofst));
    
    transform: scale(1) translate(var(--mv-right), var(--mv-top));
    transform-origin: top center ;
    
    background-color: var(--bgclr);
}

.lang-content__itm {
    width: 100%;
    height: var(--lang-h);
    border-radius: var(--ofst);
    padding-inline: var(--padding);

    display: flex;
    align-items: center;
    justify-content: center;

    transition: var(--trnstn);
}
.lang-content__itm:hover {
    cursor: pointer;
    background-color: var(--clr-itm-hvr);
}