.lang {
    --sz: var(--header-item-height);
    --shd-clr: var(--header-shd_clr);
    --bgclr: var(--header-menu-bgclr);
    --clr: var(--header-menu-clr);
    --acc_clr: var(--header-menu-acc_clr);
    --hvr_clr: var(--header-menu-hvr_clr);
    
    /* - - - */

    position: relative;
}

/* ************ */
/* ************ */

.lang-trigger {
    
    position: relative;
    
    height: var(--sz);
    width: calc(var(--sz) *1.8);

    display: flex;
    align-items: center;
    overflow: hidden;

    color: var(--clr);
    cursor: pointer;
    border-radius: 0.7rem;
    box-shadow: 0.05rem 0.05rem 0.05rem var(--shd-clr);
}

.lang-icn1 {
    width: calc(var(--sz) - 0.2rem);
    height: calc(var(--sz) - 0.2rem);
    margin-left: 0.1rem;
}

.lang-icn2 {
    width: calc(var(--sz) * 0.7);
    margin-top: calc(var(--sz) * 0.6);
    margin-left: 0.1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.lang-icn2::before {
    position: absolute;
    right: 0.2rem;
    top: 0.2rem;

    width: calc(var(--sz) *0.7);
    height: calc(var(--sz) *0.7);

    text-align: center;

    color: var(--acc_clr);
}
.lang-icn2:is(.en)::before {
    content: 'En';
    font-weight: 450;
}
.lang-icn2:is(.he)::before {
    content: 'ע';
    font-weight: 500;
}
.lang-icn2:is(.ar)::before {
    content: 'ع';
    top:calc(var(--sz) *-0.3);
    font-weight: 600;
}

/* ************ */
/* ************ */

.lang-list {

    opacity: 0;
    visibility: hidden;
    
    position: absolute;
    top: calc(0.5 * var(--sz));
    right: 0.3rem;
    transform: scale(.2) rotate3d(-1.5, 0.5, 0.5, 55deg);
    transform-origin: top right;
    
    color: var(--clr);
    background-color: var(--acc_clr);
    
    display: flex;
    flex-direction: column;
    text-align: center;
    
    gap: 0.1rem;
    padding: 0.5rem;

    border-radius: 0.3rem;
    box-shadow: 0.05rem 0.05rem 0.05rem var(--shd-clr);

    transition: all .4s ease, background-color .2s ease-in-out;
}
.lang-list:is(.show) {
    
    opacity: 1;
    visibility: visible;

    transform: scale(1) translate(calc(0.5 * var(--sz)),calc(0.6 * var(--sz)));
    transform-origin: top center ;
    
    background-color: var(--bgclr);
}

.lang-list-item {
    width: 100%;
    height: 2rem;
    border-radius: 0.3rem;
    padding-inline: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
.lang-list-item:hover {
    cursor: pointer;
    background-color: var(--hvr_clr);
    
}