.Toggle {
	
}

.tgl-wrp {
    --tgl-wrp-w: 3.5em;
    --tgl-wrp-h: 2em;
    --tgl-icn-sz: 1.4em;
    --tgl-sld-ofst: 0.3em;
    
    position: relative;
    width: var(--tgl-wrp-w);
    height: var(--tgl-wrp-h);
}

.tgl-wrp input {
    opacity: 0;
    width: 0;
    height: 0;
}

.tgl-sld-theme,
.tgl-sld-lang {
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    width: var(--tgl-wrp-w);
    height: var(--tgl-wrp-h);

    background-color: var(--tgl-bgclr);

    border-radius: 30px;

    cursor: pointer;

    transition: 0.7s var(--timing);
}

.tgl-sld-theme:before,
.tgl-sld-lang:before {

    position: absolute;
    left: var(--tgl-sld-ofst,0.3em);
    top: 50%;
    transform: translateY(-50%);
    
    height: var(--tgl-icn-sz,1.4em);
    width: var(--tgl-icn-sz,1.4em);
    border-radius: 50%;
    
    transition: 0.7s var(--timing);
}
.tgl-sld-theme:before{
    content: "";
    padding: 0.05em;
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
}
.tgl-sld-lang:before{
    content: "En";
    text-align: center;
    padding: 0.18em;
    font-size: small;
    color: var(--tgl_lang_icn-clr);
    background-color: var(--tgl_lang_icn-bgclr);
}

.tgl-wrp input:checked + .tgl-sld-theme:before {
    padding: 0em;
    left: calc(100% - (var(--tgl-icn-sz,1.4em) + 1.4*var(--tgl-sld-ofst,0.3em))); 
    background: var(--tgl-bgclr);
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}
.tgl-wrp input:checked + .tgl-sld-lang:before {
    padding: 0.17em;
    left: calc(100% - (var(--tgl-icn-sz,1.4em) + 2.1*var(--tgl-sld-ofst,0.3em)));
    content: "'ע";
}