/* ############################################### */
/* ############################################### */

:root{

  --bg1-from-share: #dfe6e9;
  --bg2-from-share: #2d3436;
  --clr-from-share: #f1f1f1;
  
  
  --clr-wht-tr1: rgba(255, 255, 255, 0.101);
  --clr-wht-tr2: rgba(255, 255, 255, 0.202);
  --clr-wht: white;
  --clr-wht-dim: #c1bbbb;
  --clr-wht-dim2: #999;
  --clr-wht-dimmer: #6a6666;

  --clr-gry-drk-tr: rgba(34, 34, 34, 0.9);
  --clr-gry-drk: #222;
  --clr-gry-drk-react: #282c34;
  --clr-gry-light: rgba(68, 68, 68, 0.565);
  --clr-gry-lighter: rgb(205, 205, 205);
  
  --clr-ylo: yellow;
  --clr-orng: #bf6516;

  --clr-blu-lighter:rgb(220, 255, 255);
  --clr-blu-light: #c8ffff;
  --clr-blu-react: #61dafb;
  --clr-blu1: #00b3ff;
  --clr-blu2: #008bc7;
  --clr-blu2-hvr: rgba(0, 179, 255, 0.5);
  --clr-blu3: #457fb4;
  --clr-blu4: #20638f;

  --clr-red1: #ff4848;
  --clr-red2: #de4141;
  --clr-red2-hvr: rgba(222, 65, 65, 0.5);
  --clr-red3: #962d22;

  --clr-brt0: #ffffff;
  --clr-brt1: #ededed;
  --clr-brt2: #aeaeae;
  --clr-brt3: #818181;
  
  --clr-drk0: #1b1b1b;
  --clr-drk1: #272727;
  --clr-drk2: #434242;
  --clr-drk3: #636363;

  /* --tgl: #303136; */


  
  
  
  /* - - - */
  /* - - - */
  --shd: 5px 5px 30px rgba(0, 0, 0, 0.3);
  --shd-hvy: 20px 20px 30px rgba(0, 0, 0, 0.3);

  --timing: cubic-bezier(0.075, 0.82, 0.165, 1);
  
  --padding: 8%; 
  
  
  
  
  --header-item-height: 2rem;
  --header-item-offset: 0.3rem;
  --header-item-border_radius: 1.875rem;
  
  --header-height: calc(2 * var(--header-item-height));
  --header-gap: 1rem;

  --header-mid-width: 9rem;

  /* --header-item-offset: 0.3rem; */

}

/* ############################################### */
/* ############################################### */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root, .App {
  height: 100%;
  width: 100%;
  /* margin: 0 auto;
  padding: 0 auto; */

  letter-spacing: 0.015rem;
}

/* body { */
html {
  scroll-behavior: smooth;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

/* ############################################### */
/* ############################################### */

.theme-light {

  --clr-acc1: var(--clr-blu2);
  --clr-acc2: var(--clr-red2);

  --header-bgclr: var(--clr-brt2);
  --header-shd_clr: rgba(0, 0, 0, 0.4);
  
  --header-theme-bgclr: var(--clr-brt1);
  
  --header-menu-bgclr: var(--clr-brt1);
  --header-menu-clr: var(--clr-drk1);
  --header-menu-acc_clr: var(--clr-acc1);
  --header-menu-hvr_clr: var(--clr-blu2-hvr);

  --main-clr: var(--clr-drk1);
  --main-bg: radial-gradient(circle at center, var(--clr-brt0), var(--clr-brt1) 100%);

  --ex-shd_clr: rgba(0, 0, 0, 0.2);

  

  /* ------- */
 


  
  --header_brdr_clr: var(--clr-ylo);

  

  --share_icon-clr: var(--clr-brt1);
  --share_icon-bgclr: var(--clr-drk1);
  --share_social-bgclr: var(--clr-brt1);

  
}

.theme-dark {

  --clr-acc1: var(--clr-red2);
  --clr-acc2: var(--clr-blu2);

  --header-bgclr: var(--clr-drk2);
  
  --header-shd_clr: rgba(255, 255, 255, 0.4);
  --header-theme-bgclr: var(--clr-drk1);
  --header-menu-bgclr: var(--clr-drk2);
  --header-menu-clr: var(--clr-brt1);
  --header-menu-acc_clr: var(--clr-acc1);
  --header-menu-hvr_clr: var(--clr-red2-hvr);
  
  --main-clr: var(--clr-brt1);
  --main-bg: radial-gradient(circle at center, var(--clr-drk1), var(--clr-drk0) 100%);

  --ex-shd_clr: rgba(255, 255, 255, 0.2);

  
  
  /* ------- */
 


  --header_brdr_clr: var(--clr-ylo);

  
 

  --share_icon-clr: var(--clr-drk1);
  --share_icon-bgclr: var(--clr-brt1);
  --share_social-bgclr: var(--clr-drk1);

  

}

/* ############################################### */
/* ############################################### */

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header {
  position: fixed;
  z-index: 10;

  width: 100%;
  height: var(--header-height);
  background-color: var(--header-bgclr);

  /* display: grid;
  grid-template-columns: repeat(5,1fr); */

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  
}

main {

  margin-top: var(--header-height);

  width: 100%;
  height: 100%;
  
  padding-block: 2em;
  gap: 1.5rem;

  color: var(--main-clr);
  background: var(--main-bg);
}

/* ############################################### */
/* ############################################### */

menu {
  
  /* opacity: 0;
  visibility: hidden; */
  
  position: absolute;
  top: 0;
  right: 50%;
  transform: scale(.2) rotate3d(-1.5, 0.5, 0.5, 55deg);
  transform-origin: top right;
  
  color: var(--clr);
  background-color: var(--acc_clr);
  
  display: flex;
  flex-direction: column;
  text-align: center;
  
  gap: 0.1rem;
  padding: 0.5rem;

  border-radius: 0.3rem;
  box-shadow: 0.05rem 0.05rem 0.05rem var(--shd-clr);

  transition: all .4s ease, background-color .2s ease-in-out;

  /* * * * */
  
  /* background-color: #94dcfa;
  
  width: calc(50% - var(--header-mid-width)/2);
  height: 100%;
  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--header-gap);

  flex-grow: 1; */

}
menu:is(.show) {
  opacity: 1;
  visibility: visible;

  transform: scale(1) translate(calc(0.5 * var(--sz)),calc(0.6 * var(--sz)));
  transform-origin: top center ;
  
  background-color: var(--bgclr);
}

/* * * * */
/* * * * */


.mid-menu {
  /* background-color: #a0ee7c; */
  
  width: calc(1.5 * var(--header-item-height));
  height: calc(1.25 * var(--header-item-height));

  position: relative;

}
.mid-menu-icn1 {
  width: calc(1.25 * var(--header-item-height));
  height: calc(1.25 * var(--header-item-height));
  
  position: absolute;
  right: calc(0.9 * var(--header-item-height));
}
.mid-menu-icn2 {
  width: calc(1.25 * var(--header-item-height));
  height: calc(1.25 * var(--header-item-height));

  position: absolute;
  right: 0;
}

/* * * * */

.mid-nav {
  /* background-color: #7cceee; */

  width: calc(1.5 * var(--header-item-height));
  height: calc(1.25 * var(--header-item-height));

  position: relative;

}
.mid-nav-icn1 {
  width: calc(1.25 * var(--header-item-height));
  height: calc(1.25 * var(--header-item-height));

  position: absolute;
  left: 0;
}
.mid-nav-icn2 {
  width: calc(1.25 * var(--header-item-height));
  height: calc(1.25 * var(--header-item-height));

  position: absolute;
  left: calc(0.9 * var(--header-item-height));
}

/* * * * */
/* * * * */

nav {

  /* opacity: 0;
  visibility: hidden; */
  
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: scale(.2) rotate3d(-1.5, 0.5, 0.5, 55deg);
  transform-origin: top right;
  
  color: var(--clr);
  background-color: var(--acc_clr);
  
  display: flex;
  flex-direction: column;
  text-align: center;
  
  gap: 0.1rem;
  padding: 0.5rem;

  border-radius: 0.3rem;
  box-shadow: 0.05rem 0.05rem 0.05rem var(--shd-clr);

  transition: all .4s ease, background-color .2s ease-in-out;

  /* * * * */

  /* background-color: #fadf94;

  width: calc(50% - var(--header-mid-width)/2);
  height: 100%;
  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--header-gap);

  flex-grow: 1; */

}
nav:is(.show) {
  opacity: 1;
  visibility: visible;

  transform: scale(1) translate(calc(0.5 * var(--sz)),calc(0.6 * var(--sz)));
  transform-origin: top center ;
  
  background-color: var(--bgclr);
}

.menu-icn {
  width: var(--header-item-height);
  height: var(--header-item-height);
  color: var(--clr-acc1);
  transition: var(--timing) scale 0.4s, rotate 0.5s, opacity 0.5s;
  cursor: help;
}

nav a {
  position: relative;
  margin-right: 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.1rem;
  color: var(--clr-acc1);
  /* transition: 0.5s ease; */
  transition: var(--timing) scale 0.4s, rotate 0.5s, opacity 0.5s;
}
nav:is(.rtl) a {
  margin-right: 0;
  margin-left: 2.5rem;
  font-size: 1.25rem;
  font-weight: 400;
}
nav a::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 0.15rem;
  bottom: -0.15rem;
  background: var(--clr-acc2);
  transform: scale(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
nav:is(.rtl) a::before {
  transform-origin: right;
}

header a:hover::before{
  transform: scale(1);
}

header .icn:hover,
header a:hover {
  scale: 1.2;
  font-weight: 450;

  /* rotate: -1deg; */
  color: var(--clr-acc2);
  opacity: 0.8;
}

/* ############################################### */
/* ############################################### */


section {
  width: 100%;
}


/* ############################################### */
/* ############################################### */

.flex {
  display: flex;
}

/* - - - */

.flx-row {
  flex-direction: row;
}

.flx-row-wrap {
  flex-wrap: wrap;
}

.flx-col {
  flex-direction: column;
}

/* - - - */

.flx-center {
  justify-content: center;
  align-items: center;
}

/* - */

.flx-start {
  justify-content: flex-start;
  align-items: center;
}

.flx-end {
  justify-content: flex-end;
  align-items: center;
}

.flx-around {
  justify-content: space-around;
  align-items: center;
}

.flx-even {
  justify-content: space-evenly;
  align-items: center;
}

.flx-btw {
  justify-content: space-between;
  align-items: center;
}

/* ############################################### */

.overflow-y-scroll {
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0px;
} 

/* .overflow-x-scroll {
  max-width: 90%;
  white-space: nowrap;
  overflow-x: scroll;
}  */

/* .overflow-x-limit{
  max-width:95%;
  overflow: hidden; 
  white-space: nowrap;
  text-overflow: ellipsis;
} */

/* - - - */

/* ############################################### */
/* ############################################### */

.rtl {
  direction: rtl;
  /* background-color: red; */
}

.ar {
  font-family: 'Noto Sans Arabic', sans-serif;
}

/* ############################################### */
/* ############################################### */

#experience {
  display: grid;
  place-items: center;
}



/* ############################################### */
/* ############################################### */
/* ############################################### */
/* ############################################### */
@media (prefers-reduced-motion: reduce){
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition-delay: 0ms !important;
  }
}