.FrameShot {
    --initial-w: 4rem;
    --initial-h: 3rem;
    --brdr-w: 0.2rem;
    --brdr-clr:  #008bc7;
    --trnstn: .4s ease;
    --shd-hvr: 0rem 0rem 0.6rem 0.2rem rgba(0, 0, 0, 0.2);
    /* ----- */
    position: relative;
    display: flex;
    transition: var(--trnstn);
}

.FrameShot::before,
.FrameShot::after {
    content:"";
    position: absolute;
    border: solid var(--brdr-clr);
    width: var(--initial-w);
    height: var(--initial-h);
    transition: var(--trnstn);
    transition-delay: .1s;
}

.FrameShot::before {
    border-width: var(--brdr-w) 0 0 var(--brdr-w);
    top: 0;
    left: 0;
}

.FrameShot::after {
    border-width: 0 var(--brdr-w) var(--brdr-w) 0;
    bottom: 0;
    right: 0;
}

.FrameShot:hover::before,
.FrameShot:hover::after {
    width: 100%;
    height: 100%;
    --brdr-w: 0.0rem;
    border-color: transparent;
    border-radius: 1rem;
}

.FrameShot:hover {
    box-shadow: var(--shd-hvr);
    border-radius: 1rem;
}